################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/ESUtils/v16
/src/NPOIUtils/obj/Debug
/src/NPOIUtils/bin/Debug
/src/packages
/src/ESUtils.Core/bin/Debug
/src/ESUtils.Core/obj/Debug
/src/ESUtils.DevExpressExtensions/obj/Debug
